<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVFeederLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TVFeederLib.Properties.Settings.TVFeederConnectionString"
            connectionString="data source=C:\Users\dxs\AppData\Roaming\TVFeeder\TVFeeder.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <userSettings>
        <TVFeederLib.Properties.Settings>
            <setting name="AppFolderName" serializeAs="String">
                <value>TVFeeder</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>1mG0nnaC@ptur3</value>
            </setting>
            <setting name="feeds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>EZTV|http://ezrss.it/feed/</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TVFeederLib.Properties.Settings>
    </userSettings>
</configuration>